.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0 auto;
}

.wp-caption-text {
	text-align: center;
    background: #fff;
}

.wp-caption .wp-caption-text {
	padding: 0.5em 0;
}