//////////////////////
// FOOTER
//////////////////////

#colophon{
    background:#2b2b2b;
     background:#FFF000;
    height:auto;
    font-family: $font;
    overflow: hidden;
    text-align: center;
    padding: 2em 0;
}
