@media print {   
    body {
        font: 12pt Arial, "Helvetica", sans-serif;
        line-height: 1.3;
    }    
    #top, #masthead h1, .site-description, #nav, #nav-open-btn, .share,
    #secondary, .phrase, .gamme-bottom, .parallax, #reinsurence, #colophon {
        display: none;
    }
    img {
        max-width: 500px;
    } 
    h1 {
        font-size: 24pt;
    }
    h2 {
        font-size: 14pt;
        margin-top: 25px;
    }   
    blockquote, ul {
        margin: 0;
    }    
    .image_slide{
        &:not(.slick-current){
            opacity:1  !important;
            transform: scale(1)  !important;
            .title,.description{
                display: block !important;
            }
        }
    }    
}
