.page{ // Font principal
    font-family: $font;
}



/// TO TOP
.totop {
  display: inline-block;
  height: 60px;
  width: 60px;
  position: fixed;
  bottom: 26px;
  right: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background:$primary url('../img/cd-top-arrow.svg') no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
  z-index:8000;
  @include radius(40px);
}
.totop.cd-is-visible, .totop.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.totop.cd-is-visible, .totop.cd-fade-out:hover {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.totop.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .2;
}
.no-touch .totop:hover {
  background-color: $primary-dark;
  opacity: 1;
}
