@import 'bootstrap/_variables';

// Couleurs principales
$primary:		theme-color("primary");  // bleu foncé
$primary-light:		lighten($primary, 18%);
$primary-lighter:	lighten($primary, 70%);
$primary-dark:		darken($primary, 5%);

$second:           $cyan; // jaune
$second-light:     lighten($cyan, 20%); // jaune clair

$gray:          $gray-800;
$gray-light:    $gray-600;
$gray-lighter:  $gray-200;

//old bootsrap variables
$brand-warning : theme-color("warning");
$brand-success : theme-color("success");
$brand-danger : theme-color("danger");


// MIXINS

// les arrondis
@mixin radius($radius) {
    border-radius: $radius;    
}

// Box shadow
@mixin box-shadow($string){
	box-shadow:         $string;
}

// effect
@mixin smooth($time){
    transition-property: all;
    transition-duration: $time;
    transition-timing-function: ease;
}

@mixin sharebg($basecolor){
    background-color: $basecolor;
    &:hover{
        background-color: darken($basecolor,10%);
    }
}

.alignleft{
    float: left;
    margin: 0 1em 1em 0;
}
.alignright{
    float: right;
    margin: 0 0 1em 1em;
}
.aligncenter{
    text-align: center !important; 
    margin: .5em auto;
    float: none !important; 
    display: block; 
}

// LES BOUTONS
.bouton{
    display: inline-block;
    padding: .3em .5em;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-family: $font-b;
    text-align: center;
    clear: both;
    @include smooth(300ms);
    @include radius(2px);
    &:hover{
        @include smooth(300ms);
        text-decoration: none;
        color: #fff;
    }
}
// READMORE ET BOUTON
.readon, .zemore{
    @extend .bouton;
    color: $primary !important; 
    border:solid 1px $primary;
    background: #fff;
    &:hover{
        color: #fff !important;
        background:$primary;
    }
}
.readon-b{ // bouton noir
    @extend .bouton;
    color: #fff !important;
    background: $gray;
}


.more-link{display: block !important; overflow: hidden; clear: both !important; width: auto !important; margin: 1em 0 0 0}

// PAGINATION
.wp-pagenavi{
    text-align: center;
    margin: 0 0 1em 0;
    span, a{
        display: inline-block;
        padding: .4em .8em;
        margin: .5em;
        font: 1.6rem/2rem Arial !important;
        border: solid 1px #333;
        color: #fff;
        @include smooth(300ms);
    }
    .current{
        background: $primary !important;
        border-color:$primary;
    }
    a:hover{
        background: #333;
        @include smooth(300ms);
        color: #fff !important;
        text-decoration: none;
    }
}
